html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
  
body {
  font-family: 'Lekton', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  text-align: center;
  line-height: 1.5;
}

nav, footer {
  z-index: 10;
  line-height: 1;
  font-weight: 600;
  background-color: #ddd;
  font-family: 'Merriweather', serif;
}

.nav_container {
  padding: 16px;
  min-height: 32px;
  width: 100%;
  max-width: 944px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.fa-bars {
  margin-right: 16px;
}
  
.quizz-square-question {
  height: 100vw;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
  background-color: white;
  font-family: 'Merriweather', serif;
}

.answer-group {
  font-size: 16px;
}

.fake-button {
  text-decoration: none;
  color: black;
  font-size: 12px;
  padding: 4px;
  border: 1px solid grey;
  width: fit-content;
  border-radius: 3px;
  border-style: outset;
}